:root {
  --shadow: 3px 3px 3px rgba(0, 0, 0, 0.651), 6px 6px 6px rgba(0, 0, 0, 0.507),
    9px 9px 9px rgba(0, 0, 0, 0.308);
}

#todo-error {
  color: rgba(243, 32, 32, 0.911);
  font-size: 2em;
}
.main {
  overflow: hidden;
  height: 100vh;
}
.vh-60 {
  min-height: 60vh;
  z-index: 2;
}
.vh-20 {
  min-height: 25vh;
  z-index: 2;
}
.mainImg {
  margin-left: -15px;
  position: absolute;
  width: 100%;
}
.img-container {
  position: absolute;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}
.p-absolute {
  position: absolute;
}
.hidden {
  display: none;
}
.my-card {
  padding: 0.5rem;
  color: rgb(245, 243, 240);
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 7px;
  box-shadow: var(--shadow);
}
.action {
  transition: 0.3s;

  cursor: pointer;
}
.degree-box {
  display: inline;
  position: relative;
}
.degree {
  position: absolute;
  font-size: xx-small;
}
.card-2 {
  background-color: rgb(234, 239, 245);
  border-radius: 6px;
  color: rgb(19, 19, 19);
  box-shadow: var(--shadow);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: large;
}

input {
  padding: 3px;
  margin: 0.25rem;
}
button {
  padding: 3px !important;
  margin: 0.25rem !important;
}
.form {
}

.a-t-r {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: xx-large;
}
.small {
  font-size: small;
}
